    <section class="nav-group">
        <input id="tabexample2" type="checkbox">
        <label for="tabexample2"></label>
        <ul class="nav-list">
            <li><a class="nav-link active"> Acceuil </a></li>
            <li class="nav-item ">
             <a  routerLink = "./projet"  class="nav-link"> 
                 <p>Creation d'un Projet </p> </a></li>
                 <li class="nav-item ">
                    <a  routerLink = "./projetList"  class="nav-link"> 
                        <p>Liste de Projet </p> </a></li>
        </ul>
    </section>
